body{
    font-family: 'Inter', sans-serif;
  }
.container {
    width: 560px;
    margin: 0 auto;
    padding: 0;
    background: #FFFFFF;
    box-shadow: 0 0 10px #eee;
}
.header {
    height: 55px;
    background: #F55A5A;
    text-align: center;
    padding: 14px;
    display: flex;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.list--card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px 40px;

}
.list--text {
    padding: 20px;
}
span.list--location {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #2B283A;
}
span.map--link {
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    text-decoration-line: underline;
    color: #918E9B;
}
.list--text h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
    margin: 0;
}
p{
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    color: #2B283A;
}
p.date {
    font-style: normal;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    color: #2B283A;
}